{
  "version": "0.2.0",
  "configurations": [
    {
      "name": "2048 (with Gemini Coach)",
      "request": "launch",
      "type": "dart",
      "toolArgs": [
        "--dart-define-from-file=keys/dart_defines.json"
      ]
    }
  ]
}
